:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 1223px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Tahoma";
  src: url("../fonts/tahoma.woff2") format("woff2");
}
@font-face {
  font-family: "Avenir-regular";
  src: url("../fonts/Avenir-Roman.woff2") format("woff2");
}
@font-face {
  font-family: "Avenir-bold";
  src: url("../fonts/Avenir-Black.woff2"), format("woff2");
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Oblique.woff2") format("woff2");
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.header {
  height: 110px;
  padding-top: 23px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background-color: #f3f7ef;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media (max-width: 768px) {
  .nav__list--mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 50px;
  }
}

.nav__item {
  margin-right: 50px;
}
@media (max-width: 768px) {
  .nav__item {
    margin-bottom: 20px;
  }
}

.nav__item:last-child {
  margin-left: 23px;
}
@media (max-width: 768px) {
  .nav__item:last-child {
    margin-left: 0;
  }
}

.nav__link {
  color: #2f2a37;
  font-family: Tahoma, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.button-lang {
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}
.button-lang::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 5px;
  background: url("../img/svg/Vector.svg");
  height: 7px;
  width: 12px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__item--center {
  margin-left: 28px;
}
@media (max-width: 768px) {
  .nav__item--center {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .nav--mobile {
    position: fixed;
    right: 300px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #f3f7ef;
    z-index: 10;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
@media (max-width: 610px) {
  .nav--mobile {
    right: 300px;
    left: -100px;
  }
}
@media (max-width: 510px) {
  .nav--mobile {
    right: 300px;
    left: -200px;
  }
}
@media (max-width: 410px) {
  .nav--mobile {
    right: 210px;
    left: -100px;
  }
}

.nav--active {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.close {
  display: none;
}
@media (max-width: 768px) {
  .close {
    display: block;
    margin-top: 40px;
    margin-left: 40px;
    background-color: transparent;
    outline: none;
    border: none;
  }
}

.menu {
  display: none;
}
@media (max-width: 768px) {
  .menu {
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
  }
}

.banner {
  background: #f3f6ef;
  padding-top: 127px;
  padding-bottom: 94px;
}
.banner__title {
  width: 434px;
  color: #2f2a37;
  font-family: "Avenir-bold", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 800;
  line-height: 115%;
}
@media (max-width: 1076px) {
  .banner__title {
    font-size: 40px;
    line-height: 40px;
  }
}
@media (max-width: 992px) {
  .banner__title {
    font-size: 25px;
    line-height: 25px;
  }
}
@media (max-width: 455px) {
  .banner__title {
    font-size: 25px;
    line-height: 25px;
    width: 300px;
  }
}
.banner__text {
  color: #6e6c72;
  margin-top: 31px;
  /* Text */
  font-family: Avenir, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  width: 432px;
}
@media (max-width: 455px) {
  .banner__text {
    width: 300px;
  }
}
.banner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 768px) {
  .banner__inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.banner__button {
  color: var(--ed-space, #2f2a37);
  font-family: Avenir, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
  text-transform: uppercase;
  border-radius: 40px;
  border: 1px solid transparent;
  background: var(--gradient, linear-gradient(129deg, #6bffca 0%, #00ff47 100%));
  padding: 19px 27px;
  margin-top: 74px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.banner__button:hover {
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
.banner .img-absolute {
  position: absolute;
  top: -50%;
  right: -50%;
  border-radius: 821px;
  width: 821px;
  height: 821px;
}
@media (max-width: 992px) {
  .banner .img-absolute {
    width: 400px;
    height: 400px;
    top: -30%;
    right: -30%;
  }
}
@media (max-width: 645px) {
  .banner .img-absolute {
    display: none;
  }
}
@media (max-width: 768px) {
  .banner__img {
    display: none;
  }
}
.trying {
  background-color: #242029;
  padding-top: 79px;
  padding-bottom: 84px;
}
.trying__title {
  color: var(--f-3-f-7-ef, #f3f6ef);
  /* Text */
  font-family: Avenir, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 115%; /* 46px */
  margin-bottom: 86px;
}
@media (max-width: 1050px) {
  .trying__title {
    text-align: center;
  }
}
@media (max-width: 530px) {
  .trying__title {
    font-size: 30px;
  }
}
.trying__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1050px) {
  .trying__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.trying__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 476px) {
  .trying__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.trying__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 476px) {
  .trying__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.trying__button {
  color: var(--ed-space, #2f2a37);
  font-family: Avenir, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
  text-transform: uppercase;
  border-radius: 40px;
  border: 1px solid transparent;
  background: var(--gradient, linear-gradient(129deg, #6bffca 0%, #00ff47 100%));
  padding: 19px 27px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.trying__button:hover {
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
.trying__img {
  margin-top: -120px;
}
@media (max-width: 476px) {
  .trying__img {
    margin-top: 20px;
  }
}

.info {
  color: var(--f-3-f-7-ef, #f3f6ef);
  margin-left: 31px;
  margin-bottom: 125px;
  /* Text */
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  /* 28.8px */
}
.info__title {
  font-size: 24px;
  width: 315px;
  line-height: 120%;
}
@media (max-width: 530px) {
  .info__title {
    font-size: 20px;
    width: 250px;
  }
}
.info__text {
  font-size: 14px;
  width: 281px;
}
@media (max-width: 530px) {
  .info__text {
    width: 250px;
  }
}

.opportunities {
  padding-top: 82px;
  padding-bottom: 88px;
  background: #f3f6ef;
}
.opportunities__title {
  color: var(--ed-space, #2f2a37);
  text-align: center;
  /* Text */
  font-family: Avenir, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 115%; /* 46px */
  margin-bottom: 23px;
}
@media (max-width: 768px) {
  .opportunities__title {
    font-size: 30px;
  }
}
.opportunities__text {
  color: var(--ed-space, #6e6c72);
  text-align: center;
  width: 776px;
  margin: 0 auto;
  /* Text */
  font-family: Avenir, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  margin-bottom: 84px;
}
@media (max-width: 768px) {
  .opportunities__text {
    font-size: 20px;
    width: 500px;
  }
}
@media (max-width: 545px) {
  .opportunities__text {
    font-size: 16px;
    width: 300px;
  }
}
.opportunities__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 992px) {
  .opportunities__inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.opportunities__card {
  border-radius: 10px;
  background: linear-gradient(134deg, #fff 0%, rgba(243, 246, 239, 0) 89.58%);
  -webkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.04);
  -webkit-backdrop-filter: blur(5.5px);
  backdrop-filter: blur(5.5px);
  width: 388px;
  padding-right: 54px;
  padding-left: 54px;
  padding-bottom: 37px;
  padding-top: 42px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-bottom: 31px;
  border-radius: 10px;
  background: linear-gradient(134deg, #fff 0%, rgba(243, 246, 239, 0) 89.58%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.opportunities__card:hover {
  -webkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.04), 11px 6px 48px 4px #36ff9f;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.04), 11px 6px 48px 4px #36ff9f;
  -webkit-backdrop-filter: blur(5.5px);
  backdrop-filter: blur(5.5px);
}
@media (min-width: 900px) {
  .opportunities__card {
    margin-right: 30px;
  }
}
@media (min-width: 1200px) {
  .opportunities__card {
    margin-right: 0;
  }
}
@media (max-width: 410px) {
  .opportunities__card {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
.opportunities__button {
  color: var(--ed-space, #2f2a37);
  font-family: Avenir, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
  text-transform: uppercase;
  border-radius: 40px;
  border: 1px solid transparent;
  background: var(--gradient, linear-gradient(129deg, #6bffca 0%, #00ff47 100%));
  padding: 19px 27px;
  display: block;
  margin: 0 auto;
  margin-top: 84px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.opportunities__button:hover {
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.card-title {
  color: var(--ed-space, #2f2a37);
  /* Text */
  font-family: Avenir, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
}
@media (max-width: 400px) {
  .card-title {
    font-size: 20px;
  }
}

.card-text {
  color: var(--ed-space, #2f2a37);
  font-family: Avenir, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
}

.ellipse-green {
  position: absolute;
  top: -20%;
  left: -50%;
  border-radius: 1056px;
  background: var(--accent, #6bffca);
  -webkit-filter: blur(206px);
  filter: blur(206px);
  width: 1056px;
  height: 900px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media (max-width: 992px) {
  .ellipse-green {
    top: 20%;
  }
}

.ellipse-violet {
  position: absolute;
  top: -10%;
  right: -70%;
  width: 1251px;
  height: 1000px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 1251px;
  background: var(--9-e-00-ff, #9e00ff);
  -webkit-filter: blur(182.5px);
  filter: blur(182.5px);
}

.choice {
  background: url("../img/background.png");
  background-size: cover;
  padding-top: 99px;
}
.choice__title {
  color: #f3f6ef;
  text-align: center;
  /* Text */
  font-family: Avenir, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 115%; /* 46px */
  width: 590px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .choice__title {
    font-size: 25px;
    line-height: 25px;
    width: 400px;
  }
}
@media (max-width: 430px) {
  .choice__title {
    width: 300px;
  }
}
.choice__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 77px;
  margin-bottom: 153px;
}
@media (max-width: 768px) {
  .choice__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.choice__item {
  border-radius: 84px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.63%, #fff), color-stop(98.44%, rgba(243, 246, 239, 0)));
  background: linear-gradient(180deg, #fff 1.63%, rgba(243, 246, 239, 0) 98.44%);
  -webkit-box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.34);
  -webkit-backdrop-filter: blur(5.5px);
  backdrop-filter: blur(5.5px);
  padding: 18px 56px 18px 18px;
  position: relative;
  margin-left: 26px;
  margin-bottom: 31px;
  color: var(--ed-space, #2f2a37);
  text-align: center;
  /* Text */
  font-family: Avenir, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
}
@media (max-width: 768px) {
  .choice__item {
    margin-left: 0;
  }
}
@media (max-width: 430px) {
  .choice__item {
    font-size: 16px;
  }
}
.choice__item::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  background: url("../img/svg/ok-circle.svg");
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.choice__inner-title {
  color: var(--f-3-f-7-ef, #f3f6ef);
  /* Text */
  font-family: Avenir, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 115%; /* 46px */
}
@media (max-width: 430px) {
  .choice__inner-title {
    width: 300px;
    font-size: 25px;
  }
}
.choice__inner-text {
  color: var(--f-3-f-7-ef, #f3f6ef);
  /* Text */
  font-family: Avenir, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  width: 499px;
  margin-top: 15px;
  margin-bottom: 49px;
}
@media (max-width: 768px) {
  .choice__inner-text {
    width: 400px;
  }
}
@media (max-width: 430px) {
  .choice__inner-text {
    width: 300px;
    font-size: 25px;
  }
}
.choice__button {
  color: var(--ed-space, #2f2a37);
  font-family: Avenir, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
  text-transform: uppercase;
  border-radius: 40px;
  border: 1px solid transparent;
  background: var(--gradient, linear-gradient(129deg, #6bffca 0%, #00ff47 100%));
  padding: 19px 27px;
  margin-bottom: 89px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.choice__button:hover {
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
.choice__inner-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.price {
  color: var(--accent, #6bffca);
  font-family: Avenir, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 36px */
}
@media (max-width: 400px) {
  .price {
    font-size: 20px;
  }
}

.description {
  color: var(--f-3-f-7-ef, #f3f6ef);
  /* Text */
  font-family: Avenir, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
  width: 250px;
  margin-top: 15px;
  margin-bottom: 68px;
}

.footer {
  background: #f3f6ef;
  padding-top: 107px;
}
.footer__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .footer__top-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.footer__list {
  list-style: none;
  margin-left: -40px;
}
.footer__link {
  color: #2f2a37;
  font-family: Avenir, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__link:hover {
  border-bottom: 1px solid #2f2a37;
}
.footer__title {
  color: var(--ed-space, #2f2a37);
  /* Text */
  font-family: Avenir, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
}
.footer__bottom {
  background: var(--accent, #6bffca);
  height: 74px;
}
@media (max-width: 768px) {
  .footer__bottom {
    height: 120px;
  }
}
.footer__bottom-wrap {
  padding-top: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__bottom-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.item {
  margin-bottom: 24px;
}

svg {
  margin-right: 30px;
  cursor: pointer;
}
@media (max-width: 768px) {
  svg {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=main.css.map */
