.calc-container {
  width: 360px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
}
input {
  width: 70px;
  margin-left: 10px;
  margin-right: 10px;
}
.result {
  border: none;
  outline: none;
}
.select {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background: transparent;
  cursor: pointer;
}
.select::-ms-expand {
  display: none;
}
